<Configuration ID="6978f262-0c41-4095-bf09-248997e291a9">
  <Add OfficeClientEdition="64" Channel="PerpetualVL2021">
    <Product ID="Standard2021Volume">
      <Language ID="de-de" />
      <Language ID="en-us" />
      <ExcludeApp ID="Publisher" />
    </Product>
  </Add>
  <Property Name="SharedComputerLicensing" Value="0" />
  <Property Name="FORCEAPPSHUTDOWN" Value="FALSE" />
  <Property Name="DeviceBasedLicensing" Value="0" />
  <Property Name="SCLCacheOverride" Value="0" />
  <Property Name="AUTOACTIVATE" Value="1" />
  <Updates Enabled="TRUE" />
  <RemoveMSI />
  <AppSettings>
    <Setup Name="Company" Value="CompanyName" />
  </AppSettings>
</Configuration>